.otherSay {
  text-align: left;
  padding: 8rem 20rem;
  @include glob {
    padding: 8rem 0rem;
  }
  p {
    line-height: 1.7;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: #8da0b5;

    @include glob {
      font-size: 1.3rem;
    }
  }
  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
    margin-bottom: 7rem;

    cite {
      color: #6dbcdb;
      font-family: Questrial, Arial, Helvetica, sans-serif;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font: normal;
      @include glob {
        font-size: 1.3rem;
      }
    }
  }
}
